<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-12">
        <h1>ElgoalWeb</h1>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
        <a routerLink="home">{{ translate.translate('NAVBAR.HOME', 'Acceuil')}}</a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
        <a routerLink="wiki">{{ translate.translate('NAVBAR.WIKI', 'Wiki')}}</a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
        <a routerLink="contact">{{ translate.translate('NAVBAR.CONTACT', 'Nous contacter')}}</a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
        <a routerLink="downloads">{{ translate.translate('NAVBAR.DOWNLOADS', 'Téléchargement')}}</a>
    </div>
</div>